.hero-cmp {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.current-book img {
    width: 230px;
    height: 350px;
    border-radius: 10px;
}

.book-info {
    margin: 0 0 4px 0;
}