.home-page {
    background-color: var(--bg);
}
hr {
    background-color: #916340;
    border: none;
    height: 1px;
    margin: 0.5em auto;
}
.general-book {
    width: 165px;
    height: 250px;
    background-color: #5C4630;
    border-radius: 10px;
}