.home-page {
    background-color: var(--bg);
    margin-top: 15px;
}

img {
    width: 230px;
    height: 350px;
    border-radius: 10px;
}

hr {
    background-color: #916340;
    border: none;
    height: 1px;
    margin: 0 auto;
}


.general-stats {
    color: var(--text-accent);
    display: flex;
    justify-content: space-between;
    
}

.general-stats p {
    border-left: 1px solid var(--text-accent);
    height: 60px;
    padding-left: 8px;
    margin-bottom: 24px;
    margin-top: 0px;

}

.bottom-section {
    display: flex;
    gap: 20px;
}


.general-book {
    width: 165px;
    height: 250px;
    background-color: #5C4630;
    border-radius: 10px;
}

.qoutes {
    display:  flex;
    flex-direction: column;
    gap: 14px;
}